@tailwind base;
@tailwind components;
@tailwind utilities;
/* Định nghĩa màu xanh ngọc cho tiêu đề */
.text-emerald {
    color: #0fb9b1 !important; /* Màu xanh ngọc hiện đại */
}
/* Tùy chỉnh thêm để bảng đồng bộ màu */
.data-table thead th {
    background-color: #f0fdfa; /* Nền xanh ngọc cực nhạt cho header bảng */
    color: #0d9488;
}
